<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ClickToBuy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/Theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Theme/css/style.css" rel="stylesheet">
</head>
<body>

    <!-- Navbar Start -->
    <div>
        <div>

            <div>

                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 657px; ">
                            <img class="img-fluid" src="~/Theme/img/slide1.jpg" alt="Image" style="width: 4000px;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">

                                <div class="p-3" style="max-width: 900px;">


                                    <div class="col-lg-3 d-none d-lg-block">
                                        <a href="" class="text-decoration-none">
                                            <h1 class="mb-4 display-5 font-weight-semi-bold" style="font-size:80px">Click<span class="text-primary font-weight-bold  ">To</span>Buy</h1>
                                        </a>

                                    </div>
                                    <h4 class="btn btn-light py-2 px-3">Se connecter comme</h4>
                                </div>
                                <div class="col-lg-3 d-none d-lg-block ">

                                    <a href="~/Admin/authAdmin" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Administrateur</a>

                                    <a href="~/Prop/inscProp" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Propriétaire</a>


                                    <a href="~/Client/articleClient" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Client</a>
                                </div>

                            </div>

                        </div>

                        <div class="carousel-item" style="height: 657px; ;">
                            <img class="img-fluid" src="~/Theme/img/slide2.jpg" alt="Image" style="width: 4000px;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Prix Raisonables</h3>
                                    <h4 class="btn btn-light py-2 px-3">Se connecter comme</h4>
                                </div>
                                <div class="col-lg-3 d-none d-lg-block ">

                                    <a href="~/Admin/authAdmin" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Administrateur</a>

                                    <a href="~/Prop/inscProp" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Propriétaire</a>


                                    <a href="~/Client/articleClient" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Client</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 657px; ;">
                            <img class="img-fluid" src="~/Theme/img/slide3.jpg" alt="Image" style="width: 4000px;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Prix Raisonables</h3>
                                    <h4 class="btn btn-light py-2 px-3">Se connecter comme</h4>
                                </div>
                                <div class="col-lg-3 d-none d-lg-block ">

                                    <a href="~/Admin/authAdmin" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Administrateur</a>

                                    <a href="~/Prop/inscProp" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Propriétaire</a>


                                    <a href="~/Client/articleClient" class=" text-primary font-weight-bold nav-item nav-link" style="font-size:30px">Client</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/lib/easing/easing.min.js"></script>
    <script src="~/Theme/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Theme/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Theme/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Theme/js/main.js"></script>
</body>
<div class="container body-content">
    @RenderBody()

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</html>

