@model IEnumerable<aspprojet.Models.article>

@{
    ViewBag.Title = "articleCat";
    Layout = "~/Views/Shared/_dashProp.cshtml";
}



<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/themelog/css/Style1.css">
</head>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3  border-primary ">
            <div class="card mb-4" style="width: 200px;">
                <div class="row g-0">

                    <div class="col-md-6">
                        <img src="@Url.Content(item.img_art)" width="200" height="210" />
                    </div>

                    <div class="col-md-12" style="height:40px">
                        <div class="card-footer " style="height:40px">
                            <p class="card-text"><b>Prix: </b> @Html.DisplayFor(modelItem => item.prix)</p>
                            <a style="margin-top:-44px;margin-right:-15px" class="float-right" asp-action="Details" asp-route-id="@item.Id">
                                <img src="~/Image/det.png" width="30px" height="30px" />
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>}
</div>
